@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
body {
  margin: 2em;
  align-content: center;
  font-family: 'Orelega One', cursive;
  background-color: #f8f8ed;
  transition: 1s;

}

* {
  text-align: center;
  font-family: 'Orelega One', cursive;
  font-size: 60px;
  color: #353434;
}

button {
  font-size: 20px;
  background-color: darkolivegreen;
  color: whitesmoke;
  padding: 2%;
  border: none !important;
}

.strike {
text-decoration: line-through;
transition: 1s;
}

.null {
  transition: 1s;
}
